.styleguide-navigation, .styleguide-configurator {
  position: sticky;
  top: 10px;
}

.styleguide-configurator {
  form {
    overflow: hidden;
  }

  .form-group {
    margin-bottom: 0.5rem;
  }

}
