.styleguide-title {
  padding: 20px;
  text-align: center;
}

.styleguide-wrapper {
  display: flex;
  flex-wrap: wrap;
}


.styleguide-navigation {
  flex: 0 0 15%;
  max-width: 15%;
  padding: 20px;
  overflow: hidden;
}

.styleguide-container {
  flex: 0 0 60%;
  max-width: 60%;
  padding: 20px;
  overflow: hidden;
}

.styleguide-configurator {
  padding: 20px;
  flex: 0 0 25%;
  max-width: 25%;
  position: relative;

  form {
    background: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    position: sticky;
    top: 10px;
    overflow: hidden;
  }
}
