<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="mt-3 text-center">
        <iframe src="https://rcm-eu.amazon-adsystem.com/e/cm?o=2&p=42&l=ur1&category=consumerelectronics&banner=0QZRBB0GNMSP1X9DKG02&f=ifr&linkID=55fa3e5da1dcb74d22c09051ea2ac5e7&t=fulondes-21&tracking_id=fulondes-21" width="234" height="60" scrolling="no" border="0" marginwidth="0" style="border:none;" frameborder="0"></iframe>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12 col-md-6 offset-md-3">
      <div class="mt-3 mb-4 text-center">
        <p class="lead">Have you ever picked up a bootstrap project &amp; just wished there was a living component guide for it?</p>

        <p class="lead">Bootstrap-o-matic fixes that.<br />Just pop your CSS into the form below and let it do its magic.</p>
      </div>

      <div class="mt-4 mb-4">
        <%= render 'css_parsers/form', resource: ParseCSSForm.new %>
      </div>

      <h2 class="text-center h4">Or</h2>

      <div class="mt-4 mb-4">
        <%= simple_form_for :random_css_form, url: css_random_path do |f| %>
          <div class="form-actions text-center">
            <%= f.submit class: 'btn btn-secondary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
