component-preview {
  > .group-variabled, > .variabled > .variabled-item, > .simple {
    padding: 0.5rem;
    background: #f8f9fa;
    overflow: hidden;
    display: block;
    margin-bottom: 1rem;
    border-radius: 0.25rem;

    > .component-preview {
      padding: 0.5rem 1rem;
      background: #fff;
      border-radius: 0.25rem;
    }

    > pre {
      margin-bottom: 0;
      
      > code {
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        margin-top: 1rem;
        margin-bottom: 0;
      }
    }
  }
}
