<ul>
  <li><%= link_to 'Bootstrap 4', styleguides_bootstrap_v4_path(skip: :css) %></li>
  <li><%= link_to 'Buttons', page_styleguides_bootstrap_v4_path(action: :buttons, skip: :css) %></li>
  <li><%= link_to 'Alerts', page_styleguides_bootstrap_v4_path(action: :alerts, skip: :css) %></li>
</ul>
