<ul>
  <li><%= link_to 'Bootstrap 4', styleguides_bootstrap_v4_path %></li>
  <li><%= link_to 'Buttons', page_styleguides_bootstrap_v4_path(action: :buttons) %></li>
  <li><%= link_to 'Alerts', page_styleguides_bootstrap_v4_path(action: :alerts) %></li>
</ul>
