<h1>Alerts</h1>

<p>
  <a href="https://getbootstrap.com/docs/4.0/components/alerts/">Bootstrap Alerts Docs</a>
</p>

<component-preview>
  <template class="variabled-sample-html">
    <div class="alert alert-%{colour} alert-dismissible fade show" role="alert">
      <strong>Holy guacamole!</strong> you lucky person, have an <a href="#" class="alert-link">example link</a>.
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </template>
</component-preview>
