<h1>Buttons</h1>

<p>
<a href="https://getbootstrap.com/docs/4.0/components/buttons/">Bootstrap Button Docs</a>
</p>

<component-preview>
<% [:primary, :secondary, :success, :info, :warning, :danger, :light, :dark].each do |color| %>
<button type="button" class="btn btn-<%= color %>"><%= color.to_s.titleize %></button>
<% end %>
<button type="button" class="btn btn-link">Link</button>
</component-preview>

<h2>Buttons Outlines</h2>

<component-preview>
<% [:primary, :secondary, :success, :info, :warning, :danger, :light, :dark].each do |color| %>
<button type="button" class="btn btn-outline-<%= color %>"><%= color.to_s.titleize %></button>
<% end %>
</component-preview>
