<a href="https://getbootstrap.com/docs/4.0/components/progress/" class="float-right">Bootstrap Process Docs</a>
<h1>Process</h1>

<component-preview data-variabled>
  <template>
    <div class="progress">
      <div class="progress-bar bg-%{colour}" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </template>
</component-preview>
