<!DOCTYPE html>
<html>
  <head>
    <title>StyleAMatic</title>
    <%= csrf_meta_tags %>
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="text-center p-3 w-100" role="title">
      <h1 class="text-center">StyleAMatic</h1>
    </div>
    <div class="w-100">
      <%= yield %>
    </div>
  </body>
</html>
